<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetZip" version="1.9.3" targetFramework="net4-client" userInstalled="true" />
  <package id="MahApps.Metro" version="0.15.0-ALPHA2" targetFramework="net4-client" userInstalled="true" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net4-client" userInstalled="true" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net4-client" userInstalled="true" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net4-client" userInstalled="true" />
</packages>