<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="JetBrains.Annotations" version="10.2.1" targetFramework="net45" />
  <package id="Microsoft.Net.Compilers" version="2.4.0" targetFramework="net452" developmentDependency="true" />
  <package id="morelinq" version="2.4.1" targetFramework="net45" />
  <package id="System.ValueTuple" version="4.3.1" targetFramework="net452" />
</packages>